@font-face {font-family: "icon";
  src: url('./iconfont.ttf') format('truetype')
}

.icon {
  font-family: "icon" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yanjing:before {
  content: "\e762";
}
.icon-biyan:before {
  content: "\e635";
}
.icon-lajitong:before {
  content: "\e650";
}
.icon-icon--copy:before {
  content: "\e604";
}
.icon-icon-arrow-right:before {
  content: "\e660";
}
.icon-location:before {
  content: "\e601";
}
.icon-new01:before {
  content: "\e727";
}

.icon-delete01:before {
  content: "\e729";
}

.icon-xin1:before {
  content: "\e600";
}
.icon-shouye01:before {
  content: "\e602";
}

.icon-shouyedianjihou01:before {
  content: "\e603";
}

.icon-gouwuche01:before {
  content: "\e605";
}

.icon-gouwuchedianjihou01:before {
  content: "\e606";
}

.icon-fenleixuanzhong0201:before {
  content: "\e60b";
}

.icon-fenlei0301:before {
  content: "\e60c";
}

.icon-wode01:before {
  content: "\e611";
}

.icon-wode201:before {
  content: "\e612";
}

